{% extends 'base.html.twig' %}

{% block title %}Recruiter{% endblock %}

{% block body %}
    <div class="container w-75">
        <h1>Recruiter</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ recruiter.id }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ recruiter.company }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ recruiter.city }}</td>
                </tr>
                <tr>
                    <th>Compte</th>
                    <td>{{ recruiter.user.isActived ? "ACTIF" : "ATTENTE VALIDATION" }}</td>
                </tr>
            </tbody>
        </table>

        <div><a class="btn {{ recruiter.user.isActived ? "btn-danger" : "btn-primary" }}  "href="{{ path('recruiter_toogle', {'id': recruiter.id}) }}">{{ recruiter.user.isActived ? "Desapprouver" : "Approuver" }}<a><div>
        <a href="{{ path('recruiter_index') }}">Retour à la liste</a><br />
       



        {% if is_granted('ROLE_ADMIN') %}
            {{ include('recruiter/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
