{% extends 'base.html.twig' %}

{% block title %}Recruiter index{% endblock %}

{% block body %}
    <div class="container w-75">     
        <h1>Liste des recruteurs</h1>

        <div class="filter mt-5 mb-3">
            <label for="actived-select">Choisissez un filtre</label>

            <select name="candidates" id="actived-select">
                <option value="all">--Tous-</option>
                <option value="actived">Validé</option>
                <option value="desactived">A valider</option>
            </select>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <td>user</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>Validé</th>
                    <th></th>
  
                </tr>
            </thead>
            <tbody>
            {% for recruiter in recruiters %}
                <tr class="toApprove {{recruiter.user.isActived ? 'actived' : '' }}" id= {{recruiter.id}} >
                    <td>{{ recruiter.id }}</td>
                    <td>{{ recruiter.user.email }}</td>
                    <td>{{ recruiter.company }}</td>
                    <td>{{ recruiter.city }}</td>
                    <td>
                        <a href="{{ path('consultant_recruiter_show', {'id': recruiter.id}) }}">
                             <img class="picto" title= "edit" src="{{ asset('assets/images/view.png') }}" alt="edit icon">
                        </a>                   
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('recruiter_edit', {'id': recruiter.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('recruiter_new') }}">Create new</a>
            {% endif %}
    </div>
{% endblock %}
{% block javascripts %}<script src={{ asset('assets/scripts/candidate.js') }}></script>{% endblock %}