{{ form_start(form) }}

        <div class="form-group text-left mt-3">
            {{ form_label(form.email,'Email' ,{'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div> 

        <div class="form-group text-left mt-3">
            {{ form_label(form.password,'Mot de passe' ,{'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class' : 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div> 

        <button class="btn btn-primary my-4">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
